<h1>List of Cocktails</h1>

<ul>
	<% @cocktails.each do |cocktail| %>
		<li><%= link_to cocktail.name, cocktail_path(cocktail) %> 
		<%= link_to cocktail_path(cocktail), method: :delete do %>
			<i class="fa fa-trash" aria-hidden="true"></i>
		<% end %></li>
	<% end %>
	</ul>

	<%= link_to "Create a new cocktail", new_cocktail_path %>
